/* --------------------------- 
            GENERALITES
------------------------------ */

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}

h1 {
font-size: 2em;
font-weight: 300;
text-transform: uppercase;
line-height: 0.5em;
color:  #028a82;
}

img {
  width: 100%;
  height: auto;
}


/* --------------------------- 
            HEADER 
------------------------------ */

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  background-color: transparent;
  z-index: 150;
}

#logoblanc {
  display: block;
}

#logoblanc {
  display: none;
}

.home {
  width: auto;
  height: 25px;
}

#logo {
  padding-left: 2em;
}

/* -------- MENU ------- */

.menu_resp {
  display: none;
}

nav {
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-right: 2em;
}

.outside_box {
  padding: 0;
  vertical-align: top;
  float: right;
  height: 50px;
  margin-top: 0;

}

.outside_box > li {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.our_content {
  /* à la base pas de height et le contuenu est caché */
  max-height:20px;
  max-width: 5em;
  overflow: hidden;
  padding: 0px 10px 0 10px;
  padding-bottom: 30px;
  text-align: center;
  /*transition vers max-height en 1 seconde */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}

.our_content a {
  color: #fff;
}

.our_content span {
  width: 100%;
  display: block;
  height: 32px;
  padding-top: 8px;
  background-color: #028a82; /* #028a82 quand barre verte */
}

.our_content span:hover {
  border-bottom: 5px solid #fdb813;
} 

.outside_box .our_content:hover {
  /* On hover, donnez une hauteur sufissante au max height pour l'afficahge de l'étoile */
  max-height: 200px;
  background: url('images/etoile_filante.png') no-repeat bottom center;
}

.submenu {
  list-style-type: none;
  padding: 2px;
  font-size: 14px;
  margin-top: 5px;
}

.submenu li {
  margin-top: 3px;
  font-weight: 900;
}

.submenu a {
  background-color:#fff ;
  color: #000;
}

.submenu a:hover {
  background-color:#fff ;
  color:#fdb813;
}

a {
  text-decoration: none;
  color: #000;
}



/* --------------------------- 
       MAIN (#front-page)
 ------------------------------ */
#front-page {
  width: 100%;
  height: 100%;
  position: absolute;

}

.centerize {
  height: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
}

/****** rotation fond1 ******/

@-webkit-keyframes rotatefond1 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatefond1 {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotatefond1 {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}

@keyframes rotatefond1 {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
#fond1 {
  -webkit-animation-name:             rotatefond1; 
  -webkit-animation-duration:        1000s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name:             rotatefond1; 
  -moz-animation-duration:        1000s; 
  -moz-animation-iteration-count:  infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name:             rotatefond1; 
  -o-animation-duration:        1000s; 
  -o-animation-iteration-count:  infinite;
  -o-animation-timing-function: linear;
  animation-name:             rotatefond1; 
  animation-duration:        1000s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
  
}

/****** rotation fond2 ******/

@-webkit-keyframes rotatefond2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatefond2 {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotatefond2 {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}

@keyframes rotatefond2 {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
#fond2 {
  -webkit-animation-name:             rotatefond2; 
  -webkit-animation-duration:        500s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name:             rotatefond2; 
  -moz-animation-duration:        500s; 
  -moz-animation-iteration-count:  infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name:             rotatefond2; 
  -o-animation-duration:        500s; 
  -o-animation-iteration-count:  infinite;
  -o-animation-timing-function: linear;
  animation-name:             rotatefond2; 
  animation-duration:        500s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear;

}

#conteneur-monde {
  width: 65%;
  bottom: 20%;
  padding-top: 5%;
  left: 17.5%;
  right: 17.5%;
  overflow: visible;
}

/****** rotation du monde ******/

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

#monde {
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:        200s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name:             rotate; 
  -moz-animation-duration:        200s; 
  -moz-animation-iteration-count:  infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name:             rotate; 
  -o-animation-duration:        200s; 
  -o-animation-iteration-count:  infinite;
  -o-animation-timing-function: linear;
  animation-name:             rotate; 
  animation-duration:        200s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
  }

#portable {
  display:none;
}

#contenu_bicolor {
  z-index: 10;
  width: 100%;
  position: absolute;
}

#bloc_trans {
  width: 100%;
  height: auto;
  padding-top:0; 
  top: 0%;
  left: 0%;
  right: 0%;
}

#bloc_vert {
  width: 100%;
  height:700px;
  margin-top:0%;
  background-color: #028a82;
}

#contenant_fp {
  width: 100%;

}

#pastille {
  width: 65%;
  bottom: 20%;
  top: 5%;
  left: 17.5%;
  right: 17.5%;
  z-index: 120;
}

#fleche {
  width: 7%;
  margin-right: 46%;
  margin-left: 46%;
  padding-top: 620px;
  z-index: 139; 
  position: absolute;
}

/****** transformation de la flèche ( 10px vers le bas )******/

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translate(0, 0);    
  }
  100% {
    -webkit-transform: translate(0, 10px);
  }
}

@-moz-keyframes translation {
  0% {
    -moz-transform: translate(0, 0);    
  }
  100% {
    -moz-transform: translate(0, 10px);
  }
}

@-o-keyframes translation {
  0% {
    -o-transform: translate(0, 0);    
  }
  100% {
    -o-transform: translate(0, 10px);
  }
}

@keyframes translation {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(0, 10px);
  }
}

#img_fleche {
  opacity: 0.6;
  padding: 10%;
  -webkit-animation: translation 1s infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  -moz-animation: translation 1s infinite;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;
  -o-animation: translation 1s infinite;
  -o-animation-direction: alternate;
  -o-animation-play-state: running;
  animation: translation 1s infinite; /* translation de la flèche en 1 seconde, à l'infini */
  animation-direction: alternate;
  animation-play-state: running; 
}

#img_fleche:hover {
  opacity: 1;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused; /* la flèche ne bouge plus on :hover */
}





/* --------------------------- TEXTE 2eme PARTIE DE PAGE ------------------------------ */
#contenant_txt {
  width: 100%;
  background-color: #028a82;
  position: absolute;
  margin-top:80%;
  padding-bottom: 50px;
  z-index: 100;
}

#apropos, #wip {
  width: 90%;
  padding-top: 5%;
  padding-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
}

#apropos h1, p , #wip h1{
  color: #fff;
  width:100%;
}

.pf_wrapper {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
}

#news {
  display: block;
}

#news li {
  display: block;
  float: left;
  width: 30%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#news li a {
  display: block;
  padding: 8px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  }

.mfp-title {
  font-size: 1.2em;
  color: #ddd !important;
  font-weight: 700;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* --------------------------- 
            FOOTER 
------------------------------ */

footer {
font-size:0.8em;
font-weight: 100;
width:100%;
text-align: center;
bottom: 0;
padding-top:10px;
padding-bottom:10px;
position: fixed;
color: #fff;
background-color: #028a82;
z-index: 140;
}
